.pregunta{
    width: 90%;
    display: inline-block;
}

.arrow{
    display: inline-block;
    width: 10%;
    height: 100%;
}

.arrow-icon{
    width: 1em;
    height: 1em;
}

.btn-arrow{
    padding: 0 5px;
}