.prod-img{
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    line-height: 1.5;
}

.prod-item{
    width: 16%;
    height: 100%;
    margin-right: 0.5%;
}

.img-prod-section{
    height: 180px;
}

.page-link{
    cursor: pointer;
}

.sadImage{
    max-width: 17%;
}