<div class="container-fluid">
  <div class="card mt-5 border-light">
    <div class="card-body">
      <h5 class="card-title" *ngIf="!searching">
        {{filterString}}
      </h5>
      <h5 class="card-title" *ngIf="searching">
        Busqueda
        <h6>
          {{filterString}}
        </h6>
      </h5>
      <ul class="list-group list-group-horizontal mb-3">
        <li class="list-group-item prod-item text-center" *ngFor="let prod of prodOnPage">
          <div>
            <p>{{prod.nombre}}</p>
            <div class="img-prod-section">
              <img [src]="'http://localhost:3000/' + prod.imagen" class="prod-img">
            </div>
            <button class="btn btn-info" (click)="verProd(prod.id)" routerLink="/productos/{{prod.id}}" routerLinkActive="active">Ver más</button>
          </div>
        </li>
      </ul>
      <div *ngIf="noProds" class="text-center">
        <h6>No se encontraron productos.</h6>
        <img src="../../assets/imgs/triste.png" class="sadImage">
      </div>
    </div>
  </div>
  <nav aria-label="Pagination" *ngIf="!noProds" class="mt-4">
    <ul class="pagination justify-content-center">
      <li [className]="actualPage == 1? 'page-item disabled' : 'page-item'">
        <a class="page-link" aria-label="Previous" (click)="prevPage()">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li [className]="i+1 == actualPage? 'page-item active' : 'page-item'"  *ngFor="let in of counter(numberOfPages) ;let i = index">
        <a class="page-link" (click)="selectPage(i+1)">{{i+1}}</a>
      </li>
      <li [className]="actualPage == numberOfPages? 'page-item disabled' : 'page-item'">
        <a class="page-link" aria-label="Next" (click)="nextPage()">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>